- if bar_name.valid?
  .list-group-item.d-flex.bar-name__item id=("bar_name_id_#{bar_name.id}")
    span.bar_name.mr-auto class=("bar_name_#{bar_name.name.downcase}") = link_to  bar_name.name,
                                                                                  new_bar_name_bar_path(bar_name)

    - if can? :update, BarName
      span.mr-2 = link_to 'edit', edit_bar_name_path(bar_name), class: 'btn btn-outline-secondary btn-sm'
      span.mr-2 = link_to 'delete', bar_name,
              method: :delete,
              remote: true,
              data: { confirm: "Are you sure?" },
              class: "btn btn-outline-danger btn-sm",
              id: "bar_name_id_link_delete_#{bar_name.id}"

    - if can?(:create, Subscription) && subscribable?(bar_name)
      span.mr-2 = link_to 'subscription',
              bar_name_subscriptions_path(bar_name),
              method: :post,
              class: 'btn btn-outline-info btn-sm'
