.admin_panel.p-2
  span.mr-2 Admin panel
  span.mr-2 = link_to 'Brands', brands_path, class: 'btn btn-outline-light btn-sm'
  span.mr-2 = link_to 'Proofs', proofs_path, class: 'btn btn-outline-light btn-sm'
