.admin_panel.p-2
  h3 Admin panel
  span.mr-2 = link_to 'Add brand', new_brand_path, class: 'btn btn-outline-light btn-sm'
  span.mr-2 = link_to 'Type equipment', type_equipments_path, class: 'btn btn-outline-light btn-sm'
