$primary: #3a5e80;
$success: #48bf65;
$danger: #bf0d3d;
$tartila: #65bfac;

@import "bootstrap";
@import "ads";
@import "header";
@import "logotype";
@import "kites";
@import "flash";
@import "product";
@import "admin_panel";
