$primary: #3a5e80;
$success: #48bf65;
$danger: #bf0d3d;
$tartila: #65bfac;
$lightdark: #7b97a7;

@import "bootstrap";
@import "ads";
@import "header";
@import "logotype";
@import "kites";
@import "flash";
@import "product";
@import "admin_panel";
@import "gallery";
@import "stuff_names";
@import "menu_tabs";
@import "adjustment";
@import "menu_tabs";
@import "autocomplete";
@import "form-add";
